In [1]:
import pandas as pd

In [2]:
dna_stats = pd.read_csv("pigeon1.0.dna.stats.csv.gz")

In [3]:
dna_stats

                       name  ksize  scaled  num_hashes  genome_length
0        SPRUCE_viral_seq_0     21     100       11276        1145228
1        SPRUCE_viral_seq_0     21     200        5632        1145228
2        SPRUCE_viral_seq_0     21    1000        1119        1145228
3        SPRUCE_viral_seq_0     21    2000         532        1145228
4        SPRUCE_viral_seq_0     21   10000          95        1145228
...                     ...    ...     ...         ...            ...
4002070  EarthsVirome_55316     51     100         104          10000
4002071  EarthsVirome_55316     51     200          56          10000
4002072  EarthsVirome_55316     51    1000          12          10000
4002073  EarthsVirome_55316     51    2000           9          10000
4002074  EarthsVirome_55316     51   10000           1          10000

[4002075 rows x 5 columns]

In [4]:
dna_stats["name"].nunique()

266805

In [5]:
dna_stats[dna_stats["name"] == "SPRUCE_viral_seq_0"]

                  name  ksize  scaled  num_hashes  genome_length
0   SPRUCE_viral_seq_0     21     100       11276        1145228
1   SPRUCE_viral_seq_0     21     200        5632        1145228
2   SPRUCE_viral_seq_0     21    1000        1119        1145228
3   SPRUCE_viral_seq_0     21    2000         532        1145228
4   SPRUCE_viral_seq_0     21   10000          95        1145228
5   SPRUCE_viral_seq_0     31     100       11458        1145228
6   SPRUCE_viral_seq_0     31     200        5723        1145228
7   SPRUCE_viral_seq_0     31    1000        1175        1145228
8   SPRUCE_viral_seq_0     31    2000         584        1145228
9   SPRUCE_viral_seq_0     31   10000         125        1145228
10  SPRUCE_viral_seq_0     51     100       11322        1145228
11  SPRUCE_viral_seq_0     51     200        5663        1145228
12  SPRUCE_viral_seq_0     51    1000        1096        1145228
13  SPRUCE_viral_seq_0     51    2000         547        1145228
14  SPRUCE_viral_seq_0     51   10000         112        1145228

In [6]:
dna_stats[dna_stats["num_hashes"] == 0]["scaled"].unique()

array([10000,  2000,  1000])

In [7]:
summary_stats = dna_stats.groupby(by=["ksize", "scaled"], dropna=False)

In [8]:
summary_stats["num_hashes"].describe()

                 count        mean         std   min    25%    50%    75%  \
ksize scaled
21    100     266805.0  237.134825  206.138276  10.0  126.0  173.0  279.0
      200     266805.0  118.584093  103.354214   4.0   63.0   87.0  140.0
      1000    266805.0   23.714923   21.124966   0.0   12.0   18.0   28.0
      2000    266805.0   11.850411   10.835883   0.0    6.0    9.0   14.0
      10000   266805.0    2.366942    2.560759   0.0    1.0    2.0    3.0
31    100     266805.0  237.023384  206.296594  16.0  126.0  173.0  279.0
      200     266805.0  118.513397  103.544051   7.0   63.0   87.0  140.0
      1000    266805.0   23.688964   21.189634   0.0   12.0   18.0   28.0
      2000    266805.0   11.841277   10.891555   0.0    6.0    9.0   14.0
      10000   266805.0    2.371035    2.592161   0.0    1.0    2.0    3.0
51    100     266805.0  236.674935  206.091338   7.0  126.0  172.0  279.0
      200     266805.0  118.323229  103.309798   3.0   63.0   86.0  139.0
      1000    266805.0   23.682281   21.130977   0.0   12.0   18.0   28.0
      2000    266805.0   11.847555   10.854827   0.0    6.0    9.0   14.0
      10000   266805.0    2.370998    2.563360   0.0    1.0    2.0    3.0

                  max
ksize scaled
21    100     11276.0
      200      5632.0
      1000     1119.0
      2000      532.0
      10000      95.0
31    100     11458.0
      200      5723.0
      1000     1175.0
      2000      584.0
      10000     125.0
51    100     11322.0
      200      5663.0
      1000     1096.0
      2000      547.0
      10000     128.0

In [9]:
summary_stats["num_hashes"].describe().drop(columns=["count"])

                    mean         std   min    25%    50%    75%      max
ksize scaled
21    100     237.134825  206.138276  10.0  126.0  173.0  279.0  11276.0
      200     118.584093  103.354214   4.0   63.0   87.0  140.0   5632.0
      1000     23.714923   21.124966   0.0   12.0   18.0   28.0   1119.0
      2000     11.850411   10.835883   0.0    6.0    9.0   14.0    532.0
      10000     2.366942    2.560759   0.0    1.0    2.0    3.0     95.0
31    100     237.023384  206.296594  16.0  126.0  173.0  279.0  11458.0
      200     118.513397  103.544051   7.0   63.0   87.0  140.0   5723.0
      1000     23.688964   21.189634   0.0   12.0   18.0   28.0   1175.0
      2000     11.841277   10.891555   0.0    6.0    9.0   14.0    584.0
      10000     2.371035    2.592161   0.0    1.0    2.0    3.0    125.0
51    100     236.674935  206.091338   7.0  126.0  172.0  279.0  11322.0
      200     118.323229  103.309798   3.0   63.0   86.0  139.0   5663.0
      1000     23.682281   21.130977   0.0   12.0   18.0   28.0   1096.0
      2000     11.847555   10.854827   0.0    6.0    9.0   14.0    547.0
      10000     2.370998    2.563360   0.0    1.0    2.0    3.0    128.0

In [10]:
summary_stats["num_hashes"].describe()

                 count        mean         std   min    25%    50%    75%  \
ksize scaled
21    100     266805.0  237.134825  206.138276  10.0  126.0  173.0  279.0
      200     266805.0  118.584093  103.354214   4.0   63.0   87.0  140.0
      1000    266805.0   23.714923   21.124966   0.0   12.0   18.0   28.0
      2000    266805.0   11.850411   10.835883   0.0    6.0    9.0   14.0
      10000   266805.0    2.366942    2.560759   0.0    1.0    2.0    3.0
31    100     266805.0  237.023384  206.296594  16.0  126.0  173.0  279.0
      200     266805.0  118.513397  103.544051   7.0   63.0   87.0  140.0
      1000    266805.0   23.688964   21.189634   0.0   12.0   18.0   28.0
      2000    266805.0   11.841277   10.891555   0.0    6.0    9.0   14.0
      10000   266805.0    2.371035    2.592161   0.0    1.0    2.0    3.0
51    100     266805.0  236.674935  206.091338   7.0  126.0  172.0  279.0
      200     266805.0  118.323229  103.309798   3.0   63.0   86.0  139.0
      1000    266805.0   23.682281   21.130977   0.0   12.0   18.0   28.0
      2000    266805.0   11.847555   10.854827   0.0    6.0    9.0   14.0
      10000   266805.0    2.370998    2.563360   0.0    1.0    2.0    3.0

                  max
ksize scaled
21    100     11276.0
      200      5632.0
      1000     1119.0
      2000      532.0
      10000      95.0
31    100     11458.0
      200      5723.0
      1000     1175.0
      2000      584.0
      10000     125.0
51    100     11322.0
      200      5663.0
      1000     1096.0
      2000      547.0
      10000     128.0

In [11]:
summary_stats.agg({"num_hashes": ["min", "max", "median", "skew"]}),
                   #"genome_length": ["min", "max", "median", "mean"],})

(             num_hashes
                     min    max median      skew
 ksize scaled
 21    100            10  11276    173  7.385624
       200             4   5632     87  7.323007
       1000            0   1119     18  6.925635
       2000            0    532      9  6.582196
       10000           0     95      2  4.494145
 31    100            16  11458    173  7.430552
       200             7   5723     87  7.450289
       1000            0   1175     18  7.084589
       2000            0    584      9  6.751797
       10000           0    125      2  4.877108
 51    100             7  11322    172  7.386627
       200             3   5663     86  7.335370
       1000            0   1096     18  6.952002
       2000            0    547      9  6.572726
       10000           0    128      2  4.750960,)

In [12]:
summary_stats.agg({"genome_length": ["min", "max", "median", "mean"],})

             genome_length
                       min      max median          mean
ksize scaled
21    100             1609  1145228  17304  23902.672337
      200             1609  1145228  17304  23902.672337
      1000            1609  1145228  17304  23902.672337
      2000            1609  1145228  17304  23902.672337
      10000           1609  1145228  17304  23902.672337
31    100             1609  1145228  17304  23902.672337
      200             1609  1145228  17304  23902.672337
      1000            1609  1145228  17304  23902.672337
      2000            1609  1145228  17304  23902.672337
      10000           1609  1145228  17304  23902.672337
51    100             1609  1145228  17304  23902.672337
      200             1609  1145228  17304  23902.672337
      1000            1609  1145228  17304  23902.672337
      2000            1609  1145228  17304  23902.672337
      10000           1609  1145228  17304  23902.672337